extends layouts/main.pug

block content 
  if errMessage
    span.errMessage #{errMessage}
  else 
    .chatPageContainer 
      .chatTitleBarContainer
        +createChatImage(chat, userLoggedIn)
        span#chatName This is the chat.

      .mainContentContainer
        .chatContainer
          .chatMessages
          .footer 
            textarea(name="messageInput", placeholder="Type a message...")
            button.sendMessageButton
              i.fas.fa-paper-plane 

block script
  script(src="/js/chatPage.js") 