extends layouts/main.pug

block content 
  if errMessage
    span.errMessage #{errMessage}
  else 
    script. 
      const chatId = '!{chat._id}'
      
    .chatPageContainer 
      .chatTitleBarContainer
        +createChatImage(chat, userLoggedIn)
        span#chatName(data-toggle="modal", data-target="#chatNameModal")

      .mainContentContainer
        .chatContainer
          .chatMessages
          .footer 
            textarea(name="messageInput", placeholder="Type a message...")
            button.sendMessageButton
              i.fas.fa-paper-plane 

  +chatNameModal(chat)

block script
  script(src="/js/chatPage.js") 