extends layouts/main.pug

block content 

  .searchBarContainer 
    i.fas.fa-search
    input#searchBox(type="text", name="searchBox", data-search=selectedTab, placeholder="Search for posts or users")

  .tabsContainer
    +createTab("Posts", `/search/posts`, selectedTab !== "users")
    +createTab("Users", `/search/users`, selectedTab === "users")
  
  .usersContainer

  +createPostModals(userLoggedIn)

block script
  script(src="/js/search.js") 